<div class="main-container">
  <h1>My form</h1>
<!--
    <form action="/users" method="post" accept-charset="UTF-8">
    <input name="authenticity_token" type="hidden" value="WUaJBOpLhFo3Mt2vlEmPQ93zMv53sDk6WFzZ2YJJQ0M="/>
    <label for="username">Username</label><br>
    <input type="text" name="user[username]"/><br><br>
    <label for="email">Email</label><br>
    <input type="email" name="user[email]" id="email"/><br><br>
    <label for="password">Password</label><br>
    <input type="password" name="user[password]"/><br><br>

    <input type="submit" value="Submit"/>
  </form>
-->

<!--
<%= form_tag("/users", method: "post") do %>
  <%= label_tag "user[username]", "Username" %>
  <%= text_field_tag "user[username]"%>

  <%= label_tag "user[email]", "Email" %>
  <%= email_field_tag "user[email]"%>

  <%= label_tag "user[password]", "Password" %>
  <%= password_field_tag "user[password]"%>

  <%= submit_tag("Submit") %>
<% end %>
-->

  <%= form_with model: @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username%>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password%>

    <%= f.submit %>
  <% end %>


</div>